.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: background-color var(--transition);
	color: var(--title);
	&.header--scrolling {
		background-color: var(--black);
	}
	.body.menu-active & {
		// padding-right: 10px;
	}
	@media (max-width: 767.98px) {
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 200;
			background-color: var(--black);
			transform: translate(100%);
			transition: transform var(--transition);
		}
		.menu-active &::before {
			transform: translate(0);
		}
	}
	// .header__container
	&__container {
		min-height: 120px;
		display: flex;
		align-items: center;
		column-gap: 40px;
		@media (max-width: 1023.98px) {
			min-height: 90px;
			column-gap: 30px;
		}
		@media (max-width: 419.98px) {
			justify-content: space-between;
		}
	}
	// .header__logo
	&__logo {
		flex-shrink: 0;
		position: relative;
		z-index: 250;
		@media (max-width: 767.98px) {
			max-width: 120px;
			max-height: 30px;
		}
	}
	// .header__menu
	&__menu,
	.menu {
		flex-grow: 1;
		@media (max-width: 767.98px) {
			overflow-y: auto;
			position: fixed;
			inset: 0;
			padding: 150px 0 30px;
			transform: translateX(100%);
			transition: transform 0.4s linear;
			background-color: var(--black);
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 30px;
			&.menu-active {
				transform: translateX(0);
			}
		}
		// .menu__list
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			column-gap: 30px;
			row-gap: 20px;
			@media (max-width: 1023.98px) {
				column-gap: 20px;
			}
			@media (max-width: 767.98px) {
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
			}
		}
		// .menu__link
		&__link {
			position: relative;
			&::before {
				content: "";
				width: 100%;
				height: 2px;
				background-color: var(--title);
				position: absolute;
				left: 0;
				bottom: -3px;
				transform: scale(0);
				transition: transform var(--transition);
			}
			&:hover::before {
				@media (any-hover) {
					transform: scale(1);
				}
			}
		}
	}
	// .header__cart
	&__cart,
	.cart {
		flex-shrink: 0;
		position: relative;
		z-index: 200;
		display: flex;
		align-items: center;
		column-gap: 15px;
		@media (max-width: 767.98px) {
			margin-left: auto;
		}
		&::before {
			content: "";
			width: 100%;
			height: 2px;
			background-color: var(--title);
			position: absolute;
			left: 0;
			bottom: -7px;
			transform: scale(0);
			transition: transform var(--transition);
		}
		&:hover::before {
			@media (any-hover) {
				transform: scale(1);
			}
		}
		// .cart__count
		&__count {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			&::before {
				content: "";
				width: 30px;
				height: 30px;
				background: rgba(129, 129, 139, 0.3);
				border-radius: 50%;
				position: absolute;
				top: calc(50% - 15px);
				left: calc(50% - 15px);
			}
		}
	}
	// .header__btn
	&__btn {
		flex-shrink: 0;
		@media (max-width: 767.98px) {
			max-height: 40px;
			max-width: 140px;
		}
		@media (max-width: 519.98px) {
			display: none;
		}
	}
	// .header__btn--menu
	&__btn--menu {
		display: none;
		@media (max-width: 519.98px) {
			display: flex;
			justify-content: center;
		}
	}
}
.burger-btn {
	flex-shrink: 0;
	display: none;
	@media (max-width: 767.98px) {
		position: relative;
		z-index: 200;
		display: block;
		width: 30px;
		height: 20px;
		background-color: transparent;
		border: 0;
		&:hover {
			@media (any-hover) {
				cursor: pointer;
			}
		}
		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
	}
	&.menu-active {
		span {
			width: 0;
		}
		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
