.page {
	// .page__top
	&__top {
		padding-top: 160px;
		padding-bottom: 90px;
		@media (max-width: $t) {
			padding-top: 110px;
			padding-bottom: 60px;
		}
	}
	&__services,
	&__testimonials,
	&__blog,
	&__contacts {
		padding: 90px 0;
		@media (max-width: $t) {
			padding: 60px 0;
		}
	}
	&__about,
	&__contain-about {
		padding: 90px 0;
		@media (max-width: $t) {
			padding: 50px 0;
		}
	}
}
.top {
	// .top__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 50px;
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 60px;
		}
	}
	// .top__text-block
	&__text-block {
		position: relative;
		flex-basis: 520px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media (max-width: 1023.98px) {
			flex-basis: 50%;
		}
		@media (max-width: 767.98px) {
			flex-basis: auto;
		}
	}
	// .top__title
	&__title {
		font-size: clamp(30px, 4vw, 52px);
		font-weight: 500;
		line-height: 1.2;
		color: $title;
	}
	// .top__text
	&__text {
		font-size: $font18px;
	}
	// .top__active
	&__active {
		display: flex;
		column-gap: 30px;
		@media (max-width: $sm) {
			flex-direction: column;
			row-gap: 30px;
		}
	}
	// .top__btn
	&__btn {
		@media (max-width: $sm) {
			width: 80%;
			align-self: center;
		}
	}
	// .top__img-block
	&__img-block {
		flex-shrink: 0;
		flex-basis: 540px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		column-gap: 60px;
		row-gap: 30px;
		@media (max-width: 1319.98px) {
			column-gap: 30px;
			flex-shrink: 1;
		}
		@media (max-width: 1023.98px) {
			flex-basis: 50%;
		}
		@media (max-width: 767.98px) {
			flex-basis: auto;
			width: 80%;
			gap: 15px;
		}
		@media (max-width: $sm) {
			width: 100%;
		}
	}
	// .top__picture
	&__picture {
		overflow: hidden;
		position: relative;
		&:first-child {
			border-radius: 378px;
			padding-bottom: 175%;
		}
		&:nth-child(2) {
			border-radius: 240px 0px 240px 240px;
			padding-bottom: 100%;
		}
		&:nth-child(3) {
			border-radius: 240px 240px 0px 240px;
			padding-bottom: 100%;
		}
		&:last-child {
			border-radius: 378px;
			margin-top: -75%;
			padding-bottom: 175%;
		}
	}
	// .top__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	// .top__decor
	&__decor {
		display: block;
		position: absolute;
		top: -15px;
		left: -30px;
		width: 122px;
		height: 122px;
		background: url(../img/svg/dotted_decor.svg) 0 0 no-repeat;
	}
}
.services {
	// .services__container
	&__container {
		display: grid;
		grid-template-columns: 40% 50%;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1279.98px) {
			grid-template-columns: 40% 55%;
			column-gap: 30px;
		}
		@media (max-width: 1279.98px) {
			grid-template-columns: 1fr;
		}
		@media (max-width: $m) {
			row-gap: 50px;
		}
	}
	// .services__text-block
	&__text-block {
		// max-width: 76%;
		@media (max-width: 1279.98px) {
			max-width: 100%;
		}
	}
	// .services__btn
	&__btn {
		@media (max-width: $sm) {
			width: 80%;
			margin: 0 auto;
		}
	}
	// .services__items-block
	&__items-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		gap: 30px;
		@media (max-width: $m) {
			grid-template-columns: 80%;
			justify-content: center;
		}
		@media (max-width: $sm) {
			grid-template-columns: 1fr;
		}
	}
	// .services__subitems
	&__subitems {
		&:first-child {
			margin-top: 50px;
			@media (max-width: $sm) {
				margin-top: 0;
			}
		}
	}
	// .services__item
	&__item,
	.item-services {
		border-radius: 30px;
		background: rgba(129, 129, 139, 0.1);
		padding: 50px 25px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: $m) {
			padding: 30px;
		}
		// .item-services__img
		&__img {
			width: 70px;
			height: 70px;
			border-radius: 8px;
			margin-bottom: 16px;
			background-position: 50%;
			background-size: 50px;
			background-repeat: no-repeat;
			@media (max-width: $m) {
				width: 60px;
				height: 60px;
				background-size: 40px;
			}
		}
		// .item-services__img--like
		&__img--like {
			background-image: url(../img/svg/ico/like.svg);
			background-color: #17202b;
		}
		// .item-services__img--dolar
		&__img--dolar {
			background-image: url(../img/svg/ico/dolar.svg);
			background-color: #271e1e;
		}
		// .item-services__img--letter
		&__img--letter {
			background-image: url(../img/svg/ico/letter.svg);
			background-color: #262420;
		}
		// .item-services__img--search
		&__img--search {
			background-image: url(../img/svg/ico/search.svg);
			background-color: #1d2423;
		}
		// .item-services__title
		&__title {
			color: $title;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		// .item-services__text
		&__text {
			color: #81818b;
		}
	}
}
.about {
	// .about__container
	&__container {
		display: flex;
		align-items: center;
		column-gap: 60px;
		@media (max-width: 1023.98px) {
			column-gap: 30px;
		}
	}
	// .about__img-blok
	&__img-blok {
		position: relative;
		flex-basis: 610px;
		display: grid;
		grid-template-columns: 60% 30%;
		align-items: flex-end;
		@media (max-width: $t) {
			display: none;
		}
	}
	// .about__picture
	&__picture {
		overflow: hidden;
		position: relative;
		&:first-child {
			border-radius: 700px 0px 400px 400px;
			padding-bottom: 188%;
		}
		&:nth-child(2) {
			border-radius: 180px 180px 180px 0px;
			padding-bottom: 100%;
		}
	}
	// .about__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	// .about__decor
	&__decor {
		display: block;
		position: absolute;
		bottom: 0;
		left: -15px;
		width: 122px;
		height: 122px;
		background: url(../img/svg/dotted_decor.svg) 0 0 no-repeat;
	}
	// .about__text-block
	&__text-block {
		flex-basis: 610px;
		@media (max-width: $t) {
			flex-basis: auto;
		}
	}
	// .about__item-list
	&__item-list {
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		min-height: 30px;
		padding-left: 40px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&::before {
			content: "";
			flex-shrink: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background:
				url(../img/svg/ico/arrow.svg) center/15px 15px no-repeat,
				rgba(129, 129, 139, 0.1);
		}
	}
}
.contain-about {
	// .contain-about__container
	&__container {
		display: flex;
		align-items: flex-start;
		column-gap: 30px;
		@media (max-width: 1279.98px) {
			flex-direction: column;
			row-gap: 50px;
			align-items: stretch;
		}
	}
	// .contain-about__items-block
	&__items-block {
		flex-basis: 60%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		@media (max-width: $m) {
			grid-template-columns: 80%;
			justify-content: center;
		}
		@media (max-width: $sm) {
			grid-template-columns: 1fr;
		}
	}
	// .contain-about__item
	&__item,
	.item-contain-about {
		border-radius: 30px;
		background-color: rgba(129, 129, 139, 0.1);
		padding: 40px;
		@media (max-width: $m) {
			padding: 30px;
		}
		// .item-contain-about__title
		&__title {
			margin-bottom: 30px;
			@media (max-width: $m) {
				margin-bottom: 15px;
			}
		}
	}
	// .contain-about__picture-block
	&__picture-block {
		flex-basis: 500px;

		@media (max-width: 1279.98px) {
			display: none;
		}
		@media (max-width: $t) {
			flex-basis: auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .contain-about__picture
	&__picture {
		overflow: hidden;
		position: relative;
		padding-bottom: 120%;
		&:first-child {
			border-radius: 0px 378px 378px 378px;
		}
		&:last-child {
			border-radius: 378px 0px 378px 378px;
			@media (min-width: $t) {
				display: none;
			}
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.flex {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 75px;
	@media (max-width: $t) {
		flex-direction: column;
	}
	// .flex__text-block
	&__text-block {
		flex-basis: 740px;
		@media (max-width: $t) {
			flex-basis: auto;
		}
	}
	// .flex__btn
	&__btn {
		flex-basis: 160px;
		align-self: flex-end;
		@media (max-width: $t) {
			flex-basis: auto;
		}
		@media (max-width: $sm) {
			width: 80%;
			align-self: center;
		}
	}
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	@media (max-width: 1279.98px) {
		column-gap: 30px;
	}
	@media (max-width: $t) {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
	// .grid__item
	&__item {
		background-color: rgba(129, 129, 139, 0.1);
		border-radius: 30px;
		padding: 60px 40px;
		display: flex;
		flex-direction: column;
		@media (max-width: 1279.98px) {
			padding: 30px;
		}
	}
}
.testimonials {
	// .testimonials__item
	&__item,
	.item-testimonials {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media (max-width: $t) {
			row-gap: 15px;
		}
		// .item-testimonials__header
		&__header {
			display: flex;
			column-gap: 10px;
			align-items: center;
		}
		// .item-testimonials__picture
		&__picture {
			flex: 0 0 70px;
			overflow: hidden;
			position: relative;
			padding-bottom: 70px;
		}
		&__picture--first {
			border-radius: 0 70px 70px 70px;
		}
		&__picture--second {
			border-radius: 70px 0 70px 70px;
		}
		&__picture--third {
			border-radius: 70px 70px 0 70px;
		}

		// .item-testimonials__img
		&__img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
		// .item-testimonials__data
		&__data {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		// .item-testimonials__name
		&__name {
			color: $title;
			font-size: 16px;
		}
		// .item-testimonials__job
		&__job {
			grid-column: 2/3;
			font-size: 14px;
		}
		// .item-testimonials__title
		&__title {
			color: $title;
			font-size: clamp(26px, 2.5vw, 32px);
			font-weight: 400;
		}
		// .item-testimonials__text
		&__text {
			flex-grow: 1;
		}
		// .item-testimonials__star
		&__star {
			display: flex;
			column-gap: 10px;
			color: #ffc54f;
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
.blog {
	// .blog__item
	&__item,
	.item-blog {
		padding: 0;
		padding-bottom: 40px;
		overflow: hidden;
		@media (max-width: 1279.98px) {
			padding-bottom: 30px;
		}
		@media (max-width: $t) {
			flex-direction: row;
			column-gap: 30px;
			padding-right: 30px;
			padding-bottom: 0;
		}
		@media (max-width: $m) {
			padding: 30px;
		}
		// .item-blog__image-block
		&__image-block {
			flex: 0 0 190px;
			position: relative;
			margin-bottom: 30px;
			@media (max-width: $t) {
				flex: 0 1 390px;
				align-self: center;
				border-radius: 30px 0 0 30px;
				overflow: hidden;
				margin-bottom: 0;
			}
			@media (max-width: $m) {
				display: none;
			}
		}
		// .item-blog__picture
		&__picture {
			height: 100%;
			position: relative;
			overflow: hidden;
			padding-bottom: 48%;
			@media (max-width: $t) {
				padding-bottom: 48%;
			}
		}
		// .item-blog__img
		&__img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		// .item-blog__description
		&__description {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 40px;
			padding: 10px;
			background-color: rgba(129, 129, 139, 0.5);
			border-radius: 0 10px 0 0;
			color: $title;
			font-size: 14px;
			text-align: center;
			@media (max-width: $t) {
				left: auto;
				right: 0;
				border-radius: 10px 0 0 0;
			}
		}
		// .item-blog__text-block
		&__text-block {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			padding: 0 40px;
			@media (max-width: 1279.98px) {
				padding: 0 30px;
			}
			@media (max-width: $t) {
				padding: 30px 0;
				flex-grow: 0;
				flex-basis: 55%;
			}
			@media (max-width: $m) {
				flex-basis: auto;
				padding: 0;
			}
		}
		// .item-blog__data
		&__data {
			display: block;
			color: rgba(129, 129, 139, 0.9);
			margin-bottom: 20px;
		}
		// .item-blog__title
		&__title {
			color: $title;
			font-size: 20px;
			margin-bottom: 30px;
			@media (max-width: 1279.98px) {
				margin-bottom: 20px;
			}
		}
		// .item-blog__text
		&__text {
			flex-grow: 1;
			margin-bottom: 20px;
		}
		// .item-blog__btn
		&__btn {
			color: #3d96f4;
			font-size: 14px;
			&:hover {
				@media (any-hover) {
					text-decoration: underline;
				}
			}
		}
	}
}
.contacts {
	// .contacts__wrap
	&__wrap {
		display: flex;
		column-gap: 40px;
		justify-content: space-around;
		align-items: center;
		border-radius: 30px;
		background: rgba(129, 129, 139, 0.1);
		padding: 40px;
		@media (max-width: $t) {
			padding: 30px;
		}
		@media (max-width: $m) {
			flex-direction: column;
			row-gap: 30px;
		}
		@media (max-width: $sm) {
			justify-content: stretch;
			align-items: stretch;
		}
	}
	// .contacts__text-block
	&__text-block {
		flex-basis: 350px;
		@media (max-width: $m) {
			flex-basis: auto;
		}
	}
	// .contacts__title
	&__title {
		color: $title;
		font-size: clamp(26px, 2.5vw, 32px);
		font-weight: 400;
		margin-bottom: 16px;
	}
	// .contacts__active
	&__active {
		flex-basis: 350px;
		display: flex;
		column-gap: 30px;
		@media (max-width: $m) {
			flex-basis: auto;
		}
		@media (max-width: $sm) {
			flex-direction: column;
			row-gap: 20px;
			align-items: center;
		}
	}
	// .contacts__btn
	&__btn {
		@media (max-width: $sm) {
			width: 80%;
		}
		@media (max-width: 359.98px) {
			width: 100%;
		}
	}
}
