html {
	scroll-padding-top: 20px;
}
.body {
	position: relative;
	overflow-x: clip;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: clamp(14px, 1.6vw, 16px);
	// font-size: calc(var(--index) * 1.5);
	line-height: 1.5;
	font-weight: 400;
	font-family: Poppins, "Helvetica Neue", Helvetica, sans-serif;
	color: var(--text);
	background-color: var(--black);
	&.menu-active {
		overflow-y: hidden;
		padding-right: 10px;
	}
}
[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}
:root {
	--black: #0d0d11;
	--text: #9c9c9c;
	--title: #fff;
	// --index: calc(1vw + 1vh);
	--transition: 0.4s linear;
	--font18px: clamp(16px, 1.6vw, 18px);
}
::-webkit-scrollbar {
	width: 10px;
	@media (max-width: 767.98px) {
		width: 5px;
	}
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--text);
}
.btn {
	width: 160px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3d96f4;
	color: var(--title);
	border-radius: 50px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	transition: background-color var(--transition);
	&:hover {
		@media (any-hover) {
			background-color: #153353;
		}
	}
}
.btn--gray {
	background: rgba(129, 129, 139, 0.2);
	&:hover {
		@media (any-hover) {
			background-color: rgb(63, 63, 66);
		}
	}
}
